doctype html
head
  meta(charset='utf-8')
  title MUJ Clubs-Registration
  // css style sheet
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
  link(rel='stylesheet' href='css/register.css')
  // font awesome link
  script(src='https://kit.fontawesome.com/e58d4fb0ce.js' crossorigin='anonymous')
  // various links for bootstrap
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
  // google fonts link
  link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Ubuntu&display=swap' rel='stylesheet')
  // UIkit CSS
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css')
  // UIkit JS
  script(src='https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js')
  script(src='https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js')
  // <script src="home.js"></script>
// title and navbar
section#title-section.title-section
  
  nav#nav.navbar.navbar-expand-lg.navbar-dark
    a.navbar-brand
      img.navbar-logo(src='/images/muj10.png' alt='')
    if user  
      li.nav-item.dropdown
            a#navbarDropdown.navbar-brand.name-btn.nav-link.dropdown-toggle.btn-account(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              | Hello, #{user.name}!
            .dropdown-menu(aria-labelledby="navbarDropdown")
              a.dropdown-item(href="/myClubs") My Clubs 
    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav
        // light/dark mode container
        label.switch
          input#m-color(type='checkbox')
          span.slider.round
        li.nav-item
          a.nav-link.nav-txt
            | Dark Mode 
            span.sr-only (current)
        // // light/dark mode container
        li.nav-item
          a.nav-link(href='/')
            | Home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='/clubs') MUJ Clubs
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle.btn-account.btn.btn-outline-secondary(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | Accounts
          .dropdown-menu(aria-labelledby='navbarDropdown')
            if user
              a.dropdown-item#logout-btn(href='#') Logout
              a.dropdown-item(href='#footer') Contacts
            else
              a.dropdown-item(href='/login') Login
              a.dropdown-item(href='signin.html') Sign up
              .dropdown-divider
              a.dropdown-item(href='#footer') Contacts
        
        li.nav-item
          a.nav-link.btn-account.btn.btn-info(type='button' href='/register') Register
  header.top

  .container-fluid
    // title image section
    .top
      h1.big-heading Hello, student!
      p.sub-heading Register for our clubs below!
// Login form
section.container-fluid
  .card.register-container
    // Loginbox
    .card.loginbox
      h1.login-font Register here
      form.form-points
        p Name
        input#name(type='text' name='' placeholder='full name' value=`${user.name}`)
        p Registration number
        input#registeration(type='number' name='' placeholder='reg. no.')
        p Club Name
        input#club-name(type='text' name='' placeholder='club name')
        //-select#club-name.input-options(name='')
          each club in clubs
            option(value='club-name') #{club.name}
          
        br
        p Degree
        select#degree.input-options(name='degree')
          option(value='btech') B.Tech
          option(value='non-btech') Non B.Tech
        br
        p Year
        select#year.input-options(name='year')
          option(value='1st') 1st
          option(value='2nd') 2nd
          option(value='3rd') 3rd
          option(value='4th') 4th
          option(value='5th') 5th
        br
        p Branch
        input#branch(type='text' name='' placeholder='branch')
        p Contact No.
        input#contact(type='number' name='' placeholder='Mobile no.')
        br
        button.btn-form#register-form(type='button' name='button') Register and Pay
        
        br
        br
    // //Loginbox
  // login form
// Footer
footer#footer.colored-section
  // copyright and contact info
  .container-fluid
    // up button
    .arrow-up
      a.arrow-btn-item.arrow(href='#title-section')
        | up
        i.arrow-btn-item.fas.fa-chevron-up
    a.footer-link(href='https://twitter.com/Jaipur_Manipal')
      i.icon-footer.fab.fa-twitter
    a.footer-link(href='https://www.facebook.com/manipal.university')
      i.icon-footer.fab.fa-facebook-f
    a.footer-link(href='https://www.instagram.com/jaipurmanipal/?hl=en')
      i.icon-footer.fab.fa-instagram
    // <a href=""><i class="icon-footer fas fa-envelope"></i></a>
    p.copyright-msg &copy;Copyright 2020 MUJ Clubs
//- up button
script.
      const colorSwitch = document.getElementById('m-color');
      colorSwitch.addEventListener('click',checkMode);
      function checkMode(){
      if(colorSwitch.checked){
      darkModeOn();
      }
      else{
      darkModeOff();
      }
      }
      function darkModeOn(){
      document.body.classList.add("dark-mode");
      }
      function darkModeOff() {
      document.body.classList.remove("dark-mode");
      }

script(src='/js/bundle.js')
  //- upInteractive = false;
  //- function autoToggle() {
  //- $('.arrow').toggleClass('auto');
  //- }
  //- $('.arrow').hover(function() {
  //- upInteractive = true;
  //- $('.arrow').removeClass('auto');
  //- });
  //- setInterval(function() {
  //- console.log(upInteractive);
  //- if (upInteractive === false) {
  //- autoToggle();
  //- }
  //- }, 2000);
